<div class="row valign-wrapper" style="height: 100%; margin: 0;">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="card">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col s12">
                        <h4 class="center">New Additional Event</h4>
                        <h4 class="center" style="display: none;">Manage Additional Event</h4>
                        <br />
                        <div class="row" style="margin: 0;">
                            <form class="col s12">
                                <div class="row" style="margin: 0;">
                                    <div class="input-field col s12 m6 l3">
                                        <input id="staffnumber" type="text">
                                        <label for="staffnumber">Staff Number</label>
                                    </div>
                                    <div class="input-field col s12 m6 l3">
                                        <select>
                                            <option value="" disabled selected></option>
                                            <option value="sickness">Sickness</option>
                                            <option value="maternity">Maternity</option>
                                            <option value="paternity">Paternity</option>
                                            <option value="course">Course</option>
                                            <option value="interviewing">Interviewing</option>
                                        </select>
                                        <label>Type</label>
                                    </div>
                                    <div class="input-field col s12 m6 l3">
                                        <input id="from" type="date">
                                        <label for="from">From Date</label>
                                    </div>
                                    <div class="input-field col s12 m6 l3">
                                        <input id="to" type="date">
                                        <label for=tor">To Date</label>
                                    </div>
                                </div>
                            </form>
                            <div>
                                <div class="col s12 m6 offset-m6 l3 offset-l9">
                                    <a class="waves-effect waves-light btn light-blue" style="width: 100%;">Add Event</a>
                                </div>
                            </div>
                            <div style="display: none;">
                                <div class="col s12 m6 l3">
                                    <a class="waves-effect waves-light btn light-blue" style="width: 100%; margin-bottom: 10px;">Back</a>
                                </div>
                                <div class="col s12 m6 l3">
                                    <a class="waves-effect waves-light btn light-blue" style="width: 100%; margin-bottom: 10px;">Archive Event</a>
                                </div>
                                <div class="col s12 m6 l3">
                                    <a class="waves-effect waves-light btn light-blue" style="width: 100%; margin-bottom: 10px;">Delete Event</a>
                                </div>
                                <div class="col s12 m6 l3">
                                    <a class="waves-effect waves-light btn light-blue" style="width: 100%;">Submit Changes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>