<div class="row valign-wrapper" style="height: 100%; margin: 0;">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="card">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col s12">
                        <h4 class="center">Additional Events</h4>
                        <br />
                        <table style="position: relative; bottom: 85px; margin-bottom: -85px;">
                            <thead>
                                <tr style="border: none; height: 72px;">
                                    <td></td><td class="hide-on-med-and-down"></td><td></td><td></td><td></td>
                                    <td class="hide-on-small-only">
                                        <a href="modal-manage" class="modal-trigger waves-effect waves-light btn light-blue tooltipped" data-position="left" data-tooltip="New Event"><i class="material-icons">add</i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <tr>
                                        <th>User</th>
                                        <th class="hide-on-med-and-down"></th>
                                        <th>Type</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </tr>
                            </thead>
                            <tbody style="max-height: 700px; overflow: auto;">
                                <tr>
                                    <td>Samuel Hirst</td>
                                    <td class="hide-on-med-and-down">------</td>
                                    <td>Long Term Sickness</td>
                                    <td>06/05/2019</td>
                                    <td>03/06/2019</td>
                                    <td>
                                        <a class="waves-effect waves-light btn light-blue tooltipped" data-position="left" data-tooltip="Manage Event"><i class="material-icons">build</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a class="waves-effect waves-light btn light-blue hide-on-med-and-up" style="width: 100%; margin-top: 20px;">New Event</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>