<div class="row valign-wrapper" style="height: 100%; margin: 0;">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="card">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col s12">
                        <h4 class="center">Additional Events</h4>
                        <br />
                        <table style="position: relative; bottom: 85px; margin-bottom: -85px;">
                            <thead>
                                <tr style="border: none; height: 72px;">
                                    <td></td><td class="hide-on-med-and-down"></td><td></td><td></td><td></td>
                                    <td class="hide-on-small-only">
                                        <a id="add-event" class="modal-trigger waves-effect waves-light btn light-blue tooltipped" data-position="left" data-tooltip="New Event"><i class="material-icons">add</i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <tr>
                                        <th>User</th>
                                        <th class="hide-on-med-and-down"></th>
                                        <th>Type</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </tr>
                            </thead>
                            <tbody style="max-height: 700px; overflow: auto;">
                                {% if events[0] %}
                                    {% for event in events %}
                                        <tr>
                                            <td>{{ event.fullName }}</td>
                                            <td class="hide-on-med-and-down">{{ event.staffNumber }}</td>
                                            <td style="text-transform: capitalize;">{{ event.type }}</td>
                                            <td data-timestamp="{{ event.from }}">{{ event.from|toDate }}</td>
                                            <td data-timestamp="{{ event.to }}">{{ event.to|toDate }}</td>
                                            <td>
                                                <a id="edit-event" class="waves-effect waves-light btn light-blue tooltipped" data-position="left" data-tooltip="Manage Event"><i class="material-icons">build</i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="6" class="center"><em>No results found.</em></td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        <a class="waves-effect waves-light btn light-blue hide-on-med-and-up" style="width: 100%; margin-top: 20px;">New Event</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/events.js"></script>