<div class="row valign-wrapper" style="height: 100%; margin: 0;">
    <div class="col s12 m8 offset-m2 l4 offset-l4">
        <div class="card">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <form class="col s12">
                        <div class="row" style="margin: 0;">
                            <div class="col s12 center">
                                <h4>Rota Search</h4>
                            </div>
                            <div class="col s6 input-field">
                                <input id="week" type="number" min="1" max="52">
                                <label for="week">Week Number</label>
                            </div>
                            <div class="col s6 input-field">
                                <input id="year" type="number" min="2019">
                                <label for="year">Year</label>
                            </div>
                            <div class="col s12 input-field">
                                <a id="search" class="waves-effect waves-light btn light-blue" style="width: 100%;">Search</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/rota_search.js"></script>