<link rel="stylesheet" href="/css/rota.css">

<div class="row valign-wrapper" style="height: 100%; margin: 0;">
    <div class="col s12">
        <div id="loading" style="width: 64px; margin: auto;">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper" class="card" style=" display: none;">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col s12 center">
                        <h4 id="header" data-week="{{ week.weekNumber }}" data-year="{{ week.year }}">
                            <a href="#!" id="change" class="btn-floating light-blue waves-effect waves-light tooltipped left" data-position="bottom" data-tooltip="Change Week" style="margin-left: 5px;"><i class="material-icons">clear</i></a>
                            <a href="#!" id="previous" class="btn-floating light-blue waves-effect waves-light tooltipped left" data-position="bottom" data-tooltip="Previous Week" style="margin-left: 5px;"><i class="material-icons">arrow_back</i></a>
                            <a href="#!" id="next" class="btn-floating light-blue waves-effect waves-light tooltipped left" data-position="bottom" data-tooltip="Next Week" style="margin-left: 5px;"><i class="material-icons">arrow_forward</i></a>
                            Rota for Week {{ week.weekNumber }} ({{ week.year }})
                            <a href="#modal-export" class="btn-floating light-blue waves-effect waves-light right tooltipped modal-trigger" data-position="bottom" data-tooltip="Export Rotas" style="margin-left: 5px;"><i class="material-icons">forward</i></a>
                            {% if not past %}
                                <a href="#!" id="publish" class="btn-floating light-blue waves-effect waves-light right tooltipped" data-position="bottom" data-tooltip="Publish" style="margin-left: 5px;"><i class="material-icons">publish</i></a>
                                {% if week.published === false %}
                                    <a href="#!" id="save" class="btn-floating light-blue waves-effect waves-light right tooltipped" data-position="bottom" data-tooltip="Save" style="margin-left: 5px;"><i class="material-icons">save</i></a>
                                {% endif %}
                                <a href="#!" id="verify" class="btn-floating light-blue waves-effect waves-light right tooltipped" data-position="bottom" data-tooltip="Verify" style="margin-left: 5px;"><i class="material-icons">done</i></a>
                                <a href="#modal-settings" class="btn-floating light-blue waves-effect waves-light right tooltipped modal-trigger" data-position="bottom" data-tooltip="Week Settings" style="margin-left: 5px;"><i class="material-icons">settings</i></a>
                            {% endif %}
                            <a href="#modal-colours" class="btn-floating light-blue waves-effect waves-light right tooltipped modal-trigger" data-position="bottom" data-tooltip="Colour Key" style="margin-left: 5px;"><i class="material-icons">format_color_fill</i></a>
                            {% if not past %}
                                <a href="#modal-team" class="btn-floating light-blue waves-effect waves-light right tooltipped modal-trigger" data-position="bottom" data-tooltip="Team Info" style="margin-left: 5px;"><i class="material-icons">face</i></a>
                            {% endif %}
                        </h4>
                    </div>
                    <div class="col s12" style="overflow-x: auto;">
                        <table id="rota">
                            <thead>
                                <tr>
                                    <td rowspan="3">Name & <br> Staff Number</td>
                                    <td colspan="3">Sunday</td>
                                    <td colspan="3">Monday</td>
                                    <td colspan="3">Tuesday</td>
                                    <td colspan="3">Wednesday</td>
                                    <td colspan="3">Thursday</td>
                                    <td colspan="3">Friday</td>
                                    <td colspan="3">Saturday</td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td>In</td>
                                    <td>Out</td>
                                    <td>Break</td>
                                    <td>In</td>
                                    <td>Out</td>
                                    <td>Break</td>
                                    <td>In</td>
                                    <td>Out</td>
                                    <td>Break</td>
                                    <td>In</td>
                                    <td>Out</td>
                                    <td>Break</td>
                                    <td>In</td>
                                    <td>Out</td>
                                    <td>Break</td>
                                    <td>In</td>
                                    <td>Out</td>
                                    <td>Break</td>
                                    <td>In</td>
                                    <td>Out</td>
                                    <td>Break</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff in team %}
                                    <tr>
                                        <td style="border-left: 1px solid rgba(0,0,0,0.12);">{{ staff.firstName }} {{ staff.lastName }} <br> {{ staff.staffNumber }}</td>
                                        <td style="border-left: 1px solid rgba(0,0,0,0.12);"><input type="time"></td>
                                        <td><input type="time"></td>
                                        <td><input type="number"></td>
                                        <td style="border-left: 1px solid rgba(0,0,0,0.12);"><input type="time"></td>
                                        <td><input type="time"></td>
                                        <td><input type="number"></td>
                                        <td style="border-left: 1px solid rgba(0,0,0,0.12);"><input type="time"></td>
                                        <td><input type="time"></td>
                                        <td><input type="number"></td>
                                        <td style="border-left: 1px solid rgba(0,0,0,0.12);"><input type="time"></td>
                                        <td><input type="time"></td>
                                        <td><input type="number"></td>
                                        <td style="border-left: 1px solid rgba(0,0,0,0.12);"><input type="time"></td>
                                        <td><input type="time"></td>
                                        <td><input type="number"></td>
                                        <td style="border-left: 1px solid rgba(0,0,0,0.12);"><input type="time"></td>
                                        <td><input type="time"></td>
                                        <td><input type="number"></td>
                                        <td style="border-left: 1px solid rgba(0,0,0,0.12);"><input type="time"></td>
                                        <td><input type="time"></td>
                                        <td style="border-right: 1px solid rgba(0,0,0,0.12);"><input type="number"></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if not past %}
    <div id="modal-team" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>
                Team Info
                <a href="#!" class="modal-close btn-flat right"><i class="material-icons">close</i></a>
            </h4>
            <table>
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th class="hide-on-med-and-down">Date of Birth</th>
                        <th class="hide-on-med-and-down">Job Role</th>
                        <th>Hours</th>
                        <th>Max Overtime</th>
                    </tr>
                </thead>
                <tbody>
                    {% for staff in team %}
                        <tr>
                            <td>{{ staff.firstName }} {{ staff.lastName }}</td>
                            <td class="hide-on-med-and-down">{{ staff.dob | date }}</td>
                            <td class="hide-on-med-and-down">{{ staff.jobRole }}</td>
                            <td>{{ staff.hours}}</td>
                            <td>{{ staff.maxOvertime}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

<div id="modal-colours" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>
            Colour Key
            <a href="#!" class="modal-close btn-flat right"><i class="material-icons">close</i></a>
        </h4>
        <table>
            <tbody>
                <tr>
                    <td>No Colour</td>
                    <td>No Shift</td>
                </tr>
                <tr>
                    <td>Solid Yellow</td>
                    <td>Early Shift</td>
                </tr>
                <tr>
                    <td>Solid Orange</td>
                    <td>Middle Shift</td>
                </tr>
                <tr>
                    <td>Solid Pink</td>
                    <td>Late Shift</td>
                </tr>
                <tr>
                    <td>Solid Green</td>
                    <td>Administrative Task</td>
                </tr>
                <tr>
                    <td>Hashed Blue</td>
                    <td>Annual Leave or Lieu Time</td>
                </tr>
                <tr>
                    <td>Hashed Purple</td>
                    <td>Long-Term Absence</td>
                </tr>
                <tr>
                    <td>Hashed Red</td>
                    <td>Suspension</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% if not past %}
    <div id="modal-settings" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>    
                Week Settings
                <a href="#!" class="modal-close btn-flat right"><i class="material-icons">close</i></a>
                <a id="save-week" href="#!" class="btn-flat right">Save</a>
            </h4>
            <table style="overflow-x: auto;">
                <thead>
                    <tr>
                        <th></th>
                        <th>Store Closed</th>
                        <th>Bank Holiday</th>
                        <th>Open (Customers)</th>
                        <th>Close (Customers)</th>
                        <th>Open (Staff)</th>
                        <th>Close (Staff)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Sunday</th>
                        <td>
                            <label>
                                <input id="week-sun-closed" type="checkbox" class="filled-in" {% if week.sun.closed %} checked {% endif %} />
                                <span></span>
                            </label>
                        </td>
                        <td>
                            <label>
                                <input id="week-sun-bankhol" type="checkbox" class="filled-in" {% if week.sun.bankHoliday %} checked {% endif %} />
                                <span></span>
                            </label>
                        </td>
                        <td><input id="week-sun-open-customers" type="time" value="{{ week.sun.openCustomers|time }}"></td>
                        <td><input id="week-sun-closed-customers" type="time" value="{{ week.sun.closedCustomers|time }}"></td>
                        <td><input id="week-sun-open-staff" type="time" value="{{ week.sun.openStaff|time }}"></td>
                        <td><input id="week-sun-closed-staff" type="time" value="{{ week.sun.closedStaff|time }}"></td>
                    </tr>
                    <tr>
                        <th>Monday</th>
                        <td>
                            <label>
                                <input id="week-mon-closed" type="checkbox" class="filled-in" {% if week.mon.closed %} checked {% endif %} />
                                <span></span>
                            </label>
                        </td>
                        <td>
                            <label>
                                <input id="week-mon-bankhol" type="checkbox" class="filled-in" {% if week.mon.bankHoliday %} checked {% endif %} />
                                <span></span>
                            </label>
                        </td>
                        <td><input id="week-mon-open-customers" type="time" value="{{ week.mon.openCustomers|time }}"></td>
                        <td><input id="week-mon-closed-customers" type="time" value="{{ week.mon.closedCustomers|time }}"></td>
                        <td><input id="week-mon-open-staff" type="time" value="{{ week.mon.openStaff|time }}"></td>
                        <td><input id="week-mon-closed-staff" type="time" value="{{ week.mon.closedStaff|time }}"></td>
                    </tr>
                    <tr>
                        <th>Tuesday</th>
                        <td>
                            <label>
                                <input id="week-tue-closed" type="checkbox" class="filled-in" {% if week.tue.closed %} checked {% endif %} />
                                <span></span>
                            </label>
                        </td>
                        <td>
                            <label>
                                <input id="week-tue-bankhol" type="checkbox" class="filled-in" {% if week.tue.bankHoliday %} checked {% endif %} />
                                <span></span>
                            </label>
                        </td>
                        <td><input id="week-tue-open-customers" type="time" value="{{ week.tue.openCustomers|time }}"></td>
                        <td><input id="week-tue-closed-customers" type="time" value="{{ week.tue.closedCustomers|time }}"></td>
                        <td><input id="week-tue-open-staff" type="time" value="{{ week.tue.openStaff|time }}"></td>
                        <td><input id="week-tue-closed-staff" type="time" value="{{ week.tue.closedStaff|time }}"></td>
                    </tr>
                    <tr>
                        <th>Wednesday</th>
                        <td>
                            <label>
                                <input id="week-wed-closed" type="checkbox" class="filled-in" {% if week.wed.closed %} checked {% endif %} />
                                <span></span>
                            </label>
                        </td>
                        <td>
                            <label>
                                <input id="week-wed-bankhol" type="checkbox" class="filled-in" {% if week.wed.bankHoliday %} checked {% endif %} />
                                <span></span>
                            </label>
                        </td>
                        <td><input id="week-wed-open-customers" type="time" value="{{ week.wed.openCustomers|time }}"></td>
                        <td><input id="week-wed-closed-customers" type="time" value="{{ week.wed.closedCustomers|time }}"></td>
                        <td><input id="week-wed-open-staff" type="time" value="{{ week.wed.openStaff|time }}"></td>
                        <td><input id="week-wed-closed-staff" type="time" value="{{ week.wed.closedStaff|time }}"></td>
                    </tr>
                    <tr>
                        <th>Thursday</th>
                        <td>
                            <label>
                                <input id="week-thu-closed" type="checkbox" class="filled-in" {% if week.thu.closed %} checked {% endif %} />
                                <span></span>
                            </label>
                        </td>
                        <td>
                            <label>
                                <input id="week-thu-bankhol" type="checkbox" class="filled-in" {% if week.thu.bankHoliday %} checked {% endif %} />
                                <span></span>
                            </label>
                        </td>
                        <td><input id="week-thu-open-customers" type="time" value="{{ week.thu.openCustomers|time }}"></td>
                        <td><input id="week-thu-closed-customers" type="time" value="{{ week.thu.closedCustomers|time }}"></td>
                        <td><input id="week-thu-open-staff" type="time" value="{{ week.thu.openStaff|time }}"></td>
                        <td><input id="week-thu-closed-staff" type="time" value="{{ week.thu.closedStaff|time }}"></td>
                    </tr>
                    <tr>
                        <th>Friday</th>
                        <td>
                            <label>
                                <input id="week-fri-closed" type="checkbox" class="filled-in" {% if week.fri.closed %} checked {% endif %} />
                                <span></span>
                            </label>
                        </td>
                        <td>
                            <label>
                                <input id="week-fri-bankhol" type="checkbox" class="filled-in" {% if week.fri.bankHoliday %} checked {% endif %} />
                                <span></span>
                            </label>
                        </td>
                        <td><input id="week-fri-open-customers" type="time" value="{{ week.fri.openCustomers|time }}"></td>
                        <td><input id="week-fri-closed-customers" type="time" value="{{ week.fri.closedCustomers|time }}"></td>
                        <td><input id="week-fri-open-staff" type="time" value="{{ week.fri.openStaff|time }}"></td>
                        <td><input id="week-fri-closed-staff" type="time" value="{{ week.fri.closedStaff|time }}"></td>
                    </tr>
                    <tr>
                        <th>Saturday</th>
                        <td>
                            <label>
                                <input id="week-sat-closed" type="checkbox" class="filled-in" {% if week.sat.closed %} checked {% endif %} />
                                <span></span>
                            </label>
                        </td>
                        <td>
                            <label>
                                <input id="week-sat-bankhol" type="checkbox" class="filled-in" {% if week.sat.bankHoliday %} checked {% endif %} />
                                <span></span>
                            </label>
                        </td>
                        <td><input id="week-sat-open-customers" type="time" value="{{ week.sat.openCustomers|time }}"></td>
                        <td><input id="week-sat-closed-customers" type="time" value="{{ week.sat.closedCustomers|time }}"></td>
                        <td><input id="week-sat-open-staff" type="time" value="{{ week.sat.openStaff|time }}"></td>
                        <td><input id="week-sat-closed-staff" type="time" value="{{ week.sat.closedStaff|time }}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modal-errors" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>
                Rota Verification
                <a href="#!" class="modal-close btn-flat right"><i class="material-icons">close</i></a>
            </h4>
            <p>
                <strong>Critical Errors: </strong><span id="critical"></span><br>
                <strong>Warnings: </strong><span id="warning"></span><br>
                <strong>Concern Notices: </strong><span id="concern"></span><br>
                <strong>Information Messages: </strong><span id="information"></span>
            </p>
            <table>
                <tbody id="errors">
                    
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

<div id="modal-export" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>
            Export Rotas
            <a href="#!" class="modal-close btn-flat right"><i class="material-icons">close</i></a>
            <a id="export" href="#!" class="btn-flat right">Export</a>
        </h4>
        <p>Rotas are exported as Excel Spreadsheets (.xlsx).</p>
        <div class="row" style="margin: 0;">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s3">
                        <input id="export-from-week" type="number" min="1" max="52" value="{{ week.weekNumber }}" style="max-width: initial;">
                        <label for="export-from-week">From Week</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="export-from-year" type="number" min="2019" value="{{ week.year }}" style="max-width: initial;">
                        <label for="export-from-year">From Year</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="export-to-week" type="number" min="1" max="52" value="{{ week.weekNumber }}" style="max-width: initial;">
                        <label for="export-to-week">To Week</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="export-to-year" type="number" min="2019" value="{{ week.year }}" style="max-width: initial;">
                        <label for="export-to-year">To Year</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/rota_manage.js"></script>