<div class="row valign-wrapper" style="height: 100%; margin: 0;">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="card">
            <div class="card-content">
                <div class="row" style="margin: 0;">
                    <div class="col s12">
                        <h4 class="center">My Team</h4>
                        <br />
                        <table style="position: relative; bottom: 85px; margin-bottom: -85px;">
                            <thead>
                                <tr style="border: none; height: 72px;">
                                    <td></td><td class="hide-on-small-only"></td><td class="hide-on-med-and-down"></td><td class="hide-on-med-and-down"></td><td class="hide-on-med-and-down"></td>
                                    <td class="hide-on-small-only">
                                        <a id="add" class="waves-effect waves-light btn light-blue tooltipped" data-position="left" data-tooltip="New User"><i class="material-icons">add</i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Full Name</th>
                                    <th class="hide-on-small-only">Staff Number</th>
                                    <th class="hide-on-med-and-down">Date of Birth</th>
                                    <th class="hide-on-med-and-down">Job Role</th>
                                    <th class="hide-on-med-and-down">Contracted Hours</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody style="max-height: 700px; overflow: auto;">
                                {% for staff in team %}
                                    <tr>
                                        <td>{{ staff.firstName }} {{ staff.lastName }}</td>
                                        <td class="hide-on-small-only">{{ staff.staffNumber }}</td>
                                        <td class="hide-on-med-and-down">{{ staff.dob | date }}</td>
                                        <td class="hide-on-med-and-down">{{ staff.jobRole }}</td>
                                        <td class="hide-on-med-and-down">{{ staff.hours}}</td>
                                        <td>
                                            <a id="edit" class="waves-effect waves-light btn light-blue tooltipped {% if staff.staffNumber == loggedin %} disabled {% endif %}" data-position="left" data-tooltip="Manage User" data-user="{{ staff.staffNumber }}"><i class="material-icons">build</i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a id="add" class="waves-effect waves-light btn light-blue hide-on-med-and-up" style="width: 100%; margin-top: 20px;">New User</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/staff.js"></script>