<html>
    <head>
        <!-- Metadata -->
        <title>RotaIt</title>
        <link rel="icon" href="/img/icon.png" type="image/png" />
        <meta name="viewport" content="width=device-width">
        <!-- JQuery Imports -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <!-- Materialize CSS Imports -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Local Imports -->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav class="light-blue white-text">
            <div class="nav-wrapper">
                <a href="#" data-target="slide-out" class="sidenav-trigger" style="display: block;"><i class="material-icons">menu</i></a>
                <ul class="right">
                    <li><a href="#" class="right">Sam Hirst</a></li>
                </ul>                
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            <li class="center">
                <img class="responsive-img" src="/img/icon.png" style="max-width: 30%; margin-top: 20px; margin-bottom: -10px;">
                <h4>RotaIt</h4>
            </li>
            <li><h6 class="center" style="margin-bottom: 18px;">Management Pre-Release V{{ version }}</h6></li>
            <li><div class="divider"></div></li>
            <li><a><i class="material-icons">supervisor_account</i>My Team</a></li>
            <li><a><i class="material-icons">search</i>Rota Search</a></li>
            <li><a><i class="material-icons">edit</i>New/Edit Rota</a></li>
            <li><a><i class="material-icons">beach_access</i>Pending Requests</a></li>
            <li><a><i class="material-icons">event_note</i>Additional Events</a></li>
            <li><div class="divider"></div></li>
            <li><a><i class="material-icons">keyboard_tab</i>Log Out</a></li>
        </ul>
        <div id="content">

        </div>
    </body>
</html>

<!-- Local JavaScript Imports -->
<script src="/js/site.js"></script>