/* Center All Cells */
th, td {
    text-align: center;
    padding: 4px;
}

/* Center Inputs and Limit Width */
input {
    max-width: 45px;
    text-align: center;
}

/* Remove Clear Button from Inputs */
::-webkit-clear-button {
    display: none;
}

/* Custom Hashed Colours */
.hashed.blue {
    background: repeating-linear-gradient(
      45deg,
      #e3f2fd,
      #e3f2fd 10px,
      #bbdefb 10px,
      #bbdefb 20px
    );
}
.hashed.red {
    background: repeating-linear-gradient(
      45deg,
      #ffcdd2,
      #ffcdd2 10px,
      #ef9a9a 10px,
      #ef9a9a 20px
    );
}
.hashed.purple {
    background: repeating-linear-gradient(
      45deg,
      #f3e5f5,
      #f3e5f5 10px,
      #e1bee7 10px,
      #e1bee7 20px
    );
}
.hashed.grey {
    background: repeating-linear-gradient(
      45deg,
      #eceff1,
      #eceff1 10px,
      #cfd8dc 10px,
      #cfd8dc 20px
    );
}
.hashed.black {
    background: repeating-linear-gradient(
      45deg,
      #161a1d,
      #161a1d 10px,
      #424e57 10px,
      #424e57 20px
    );
}